<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for cart in carts %}
            <div class="cart-details">
                <p class="product-name">Name: {{ cart.product }}</p>
                <p class="price">Customer: {{ cart.user }}</p>
                <p class="quantity">Quantity: {{ cart.quantity }}</p>
            </div>
        {% endfor %}
        </div>
</body>
</html>