<!DOCTYPE html>
<html>
<head>
    <title>View Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in cart_items %}
                    {% for cart_item in cart.products.all %}
                        <tr>
                            <td>{{ cart_item.product.name }}</td>
                            <td>{{ cart_item.quantity }}</td>
                            <td>${{ cart_item.product.price }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <p>Total Price: ${{ total_price }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</body>
</html>